
<div id="mapdiv" style="height: 500px;"></div>

<script>
    window.addEventListener('load', function () {
        var map = L.map('mapdiv', {
            center: [8.005353,98.842168],
            scrollWheelZoom: false,
            zoom: 2,
            minZoom: 1,
            maxZoom: 20,
            worldCopyJump: false,
            maxBounds: [
                [-90, -180],
                [90, 180],
            ],
        });

        L.tileLayer('https://{s}.tile.thunderforest.com/neighbourhood/{z}/{x}/{y}.png?apikey=607c769346344f69aa1b929bc1c6dcab', {
            maxZoom: 20,
            attribution: 'Maps &copy; <a href="https://www.thunderforest.com">Thunderforest</a>, Data © <a href="https://www.openstreetmap.org/copyright">OpenStreetMap contributors</a>'
        }).addTo(map);

        {% for item in include.items %}
            {% if item.OSM_geo_data %}
            L.marker([{{item.OSM_geo_data}}],{
                title: '{{ item.title }}',
                alt: 'Click {{ item.title }}',
                riseOnHover: true,
            }).addTo(map).bindPopup('<a href="{{ item.permalink }}">{%- if item.thumb -%}<img src="{{item.thumb}}" />{%- endif -%}{{ item.title }}</a>');
            {% endif %}
        {% endfor %}
    });
</script>