{% if include.latLong %}

<div class="map">
    <div id="mapdiv" style="height: 300px;"></div>
    <div id="iati">{% include iati_square_naranja.html %}</div>
</div>

<script>
    window.addEventListener('load', function () {
        var map = L.map('mapdiv', {
            center: [{{include.latLong}}],
            scrollWheelZoom: false,
            zoom: 7,
            maxZoom: 20,
            minZoom: 1,
            worldCopyJump: false,
            maxBounds: [
                [-90, -180],
                [90, 180],
            ],
        });

        L.tileLayer('https://{s}.tile.thunderforest.com/neighbourhood/{z}/{x}/{y}.png?apikey=607c769346344f69aa1b929bc1c6dcab', {
            maxZoom: 20,
            attribution: 'Maps &copy; <a href="https://www.thunderforest.com">Thunderforest</a>, Data © <a href="https://www.openstreetmap.org/copyright">OpenStreetMap contributors</a>'
        }).addTo(map);

        var marker = L.marker([{{include.latLong}}]).addTo(map);
    });
</script>
{% endif %}