---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$masthead-link-color: #aaaaaa;
$masthead-link-color-hover: #7abea4;
$masthead-background-color: #373735;

$link-color: #7abea4;
$link-color-hover: #628d7c;
$link-color-visited: #7abea4;

$primary-color: #7abea4;
$footer-background-color: #575756;

$doc-font-size: 16px;
$h-size-1: 1.6em;
$h-size-2: 1.4em;
$h-size-3: 1.3em;
$h-size-4: 1.1em; 
$h-size-5: 1.03125em; 
$h-size-6: 1em;

$right-sidebar-width-narrow: 200px !default;
$right-sidebar-width: 270px !default;
$right-sidebar-width-wide: 350px !default;

@import "pannellum.css";
@import "pannellum-custom.css";
@import "leaflet.css";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// THEME OVERRIDES
html {
    @include breakpoint($large) {
        font-size: 18px;
    }

    @include breakpoint($x-large) {
        font-size: 18px;
    }

    .site-title {
        font-weight: 300;
    }
    
    h1, h2, h3, h4 {
        font-weight: 400;
    }
    
    h5, h6 {
        font-weight: 500;
    }
}


// Gallery  /////////////////////////

figure {
    justify-content: space-around;  

    &.half, &.third {
        > a,
        > img {
        @include breakpoint($small) {
            width: auto;
        }
        }

        figcaption {
        width: 100%;
        }
    }   
}

// Gallery end

section.page__content {
    a {
        text-decoration: none;
        color: #7abea4;
    
        &:hover {
            text-decoration: underline;
        }
    }

    p,
    li,
    dl {
        font-weight: 400;
    }
}

.layout--home .initial-content, .layout--categories .initial-content  {
    background-color: #f9f9f9;

    .archive {
        display: flex;
        flex-direction: column;

        .pagination {
            align-self: center;
            width: auto;
        }
    }

    article {
        background-color: #ffffff;
        
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;

        h2 {
            text-align: center;
            margin-top: 1rem;
            flex-grow: 1;

            a {
                color: #333;
                text-decoration: none;
                text-transform: uppercase;

                &:hover {
                    color: $link-color-hover;
                }

            }
        }
        
        .archive-single-img-header {    
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            width: 100%;
            height: 300px;
            display: flex;
            align-items: flex-end;           
        }

        .archive__item-excerpt {
            margin: 1.3em;
            text-align: justify;
            font-size: 1em;
        }

        .page__meta {
            align-self: center;
            margin-bottom: 1em;
            font-size: 0.7em;
        }        
    }
}

.masthead {
    position: fixed;
    top: 0;
    width: 100%;
    transition: $global-transition;
    background-color: $masthead-background-color;
    border-bottom: 3px solid $masthead-link-color;
    
    &.hide {
        top: -54px;
    }

    &__inner-wrap {
        padding: 0;
    }
    
    a.site-logo {
        vertical-align: middle;
        background-image: url('https://uploads.andeandaran.com/images/small-logo-menu.png');
        background-position-x: 0%;
        background-position-x: 118px;
        width: 115px;
        height: 56px;

        &:hover {
            background-position-x: 0px;
        }
    }

    .greedy-nav {
        background-color: $masthead-background-color;

        .visible-links a {
            font-weight: 300;

            &::before {
                height: 2px;
            }
        }
    }
}

.layout--home {
    .home-logo {
        height: 150px;
        width: 100%;
        margin: 4em 0 2em 0;
        background-image: url('https://uploads.andeandaran.com/2016/09/logo_blog-1.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
}


.page__meta {
    .map {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;

        #mapdiv {
            width: 100%;
            margin-bottom: 10px;
        }

        @include breakpoint($medium) {
            flex-direction: row;
            
            #mapdiv {            
                width: calc(100% - 310px);
            }
            
            #iati {
                margin-left: auto;
            }
        }
    }
}

#mapdiv.leaflet-container {
    a, a:visited, a:hover {
        color: #333;
    }

    .leaflet-popup-content {
        text-align: center;
        font-size: 1.2em;

        a, a:visited, a:hover {
            display: flex;
            flex-direction: column;
            align-items: center;
            img {
                margin-bottom: 10px;
                max-width: 150px;
            }
        }
    }
}

.page-full-width {
    padding-top: 3em;

    header {
        text-align: center;
        padding: 20px 0;
    }
}

.layout--single .page {
    &__hero {
        @media all and (orientation: landscape) {
            max-height: 72vh;
            overflow: hidden;
        }
    }

    .pagination {
        display: flex;
        justify-content: space-between;

        a.pagination--pager {            
            display: flex;
            align-items: center;
            padding: 0.5em 0.5em;
            white-space: nowrap;
            color:#ffffff;
            background-color: $link-color;
            border: none;
            width: 49%;

            span {
                font-size: 1em;
                overflow: hidden;
                text-overflow: ellipsis;
                font-weight: 400;
            }

            i {
                margin: 0 5px;
            }

            &:hover {
                background-color: $link-color-hover;
            }
            
            
            &:last-child {
                justify-content: flex-end;
            }
        }
            
    }
}

.authors-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .h-card {
        max-width: 340px;
        padding: 1em 1em;
        font-size: 0.75em;
        box-shadow: 0 0 4px #37373544;
        margin: 1em;
        border-radius: 8px;
    }
}

section.error-page {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

nav.toc .toc__menu a {
    font-weight: 400;
    
    @include breakpoint($large) {
        font-size: 14px;
    }    
}

.initial-content {
    padding-bottom: 2em;
}

.page__footer {
    margin-top: 0;
    color: #dfdfdf;

    &-copyright {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        font-size: 0.8em;

        a {
            font-weight: bold;

            &:hover {
                text-decoration: underline;
            }
        }

        .powered-by {
            flex: 0 0 100%;
        }
    }
}